/.perltidyrc
/.tidyall.d/
/Makefile
/Tests/case-insense-file-collision.t
/Tests/data/cache/spelling-timestamp.json
/Tests/spell-check-is-sorted.t
/Tests/tidyall.t
/bin/Run-YUI-Compressor
/bin/batch-inplace-html-minifier
/bin/clean-up-docbook-xhtml-1.1.xslt
/bin/gen-build-deps
/bin/gen-rpm-for-build-deps
/bin/post-incs.pl
/bin/sort-check-spelling-file
/bin/spell-checker-iface
/bin/translate-Vered-XML
/bundle/Bundle-Sites-BetterScm/Build
/bundle/Bundle-Sites-BetterScm/Bundle-Sites-BetterScm-*
/bundle/Bundle-Sites-BetterScm/META.json
/bundle/Bundle-Sites-BetterScm/META.yml
/bundle/Bundle-Sites-BetterScm/MYMETA.json
/bundle/Bundle-Sites-BetterScm/MYMETA.yml
/bundle/Bundle-Sites-BetterScm/_build
/dest
/lib/Inc/cpan_dists.wml
/lib/Shlomif/Out.pm
/lib/Shlomif/Spelling/Check.pm
/lib/Shlomif/Spelling/Iface.pm
/lib/Shlomif/Spelling/Whitelist.pm
/lib/make/build-deps/build-deps.mak
/lib/make/build-deps/build-deps.stamp
/lib/make/include.mak
/lib/make/rules.mak
/lib/make/shlomif_common.mak
/tslint.json
