[% SET title="\"The BitKeeper Ghost\"" %]

[% WRAPPER wrap_html %]

<p>
There's <a href="[% base_path %]bk/the-bitkeeper-ghost.html">a new Essay titled
"The BitKeeper Ghost"</a>. It discusses the recent developments in the
BitKeeper saga after the department of Bryan O'Sullivan from the Mercurial
development team.
</p>

[% END %]
