<div class="note">
<h2>Note about BitKeeper</h2>
<p>
Due to recent (as of 13 April 2005) developments, and more recent ones (as of
2016),
the information contained in
these pages, may no longer be fully relevant. Refer to
<a href="[% base_path %]bk/demise-of-gratis-bitkeeper.html">our summary page about
this</a> for more information.
</p>
</div>
