a:hover { color : red }

.navbar {
    float : left;
    background-color : #C5CAE2;
    width : 20%;
    padding-left : 0.5em;
    padding-top : 0.5em;
}

.main
{
    float : left;
    padding-left : 1em;
    padding-bottom : 1em;
    padding-top : 0em;
    margin-left : 1em;
    /*
    Remmed out - maybe I'll add something along this vein later.
    border-width : thin;
    border-color : black;
    border-style : solid;
    */
    background-color : white;
    width: 70%;
}

p.desc { margin-left : 3em }
h2 { background-color: #FFEE00  }
ul.navbarmain
{ 
    padding-left : 1em; 
    font-size: 80%;
    font-family: sans-serif;
}
ul.navbarnested 
{ 
    padding-left : 0em ; 
    margin-left : 2em;
}
.note 
{ 
    border-color : black; 
    border-style : double;
    padding : 0.5em;
    background-color : #98FB98; /* PaleGreen */
}
.note h2
{
   background: transparent;
}
ul.my li
{
    padding-bottom: 0.5em;
}
.righty
{
   float: right;
   text-align: center;
   font-size: 80%;
   width: 30%;
}
.righty img
{
    border : 0;
}
.webmaster
{
    float : left;
}
.center
{
    text-align : center;
}
.nav_links
{
    text-align: center;
    padding-left : 0em;
    padding-top : 0em;
}
.nav_links li
{
    display: inline;
    list-style-type: none;
    padding-right: 0.2em;
    padding-top: 0em;
}
.leading_path
{
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color : #40C040;
    /* background-color: #FF7070; */
    margin-bottom : 0.2em;
}
.leading_path :hover
{
    color : yellow;
}
.footer {
    clear : both;
    margin-right : 30px;
    padding-top: 0.5em;
}

