a:hover { color : red }
.navbar 
{ 
    background-color: #C5CAE2;
    width : 20% ;
    padding-left : 0.5em;
}
.main { padding-left : 1em; }
p.desc { margin-left : 3em }
h2 { background-color: #FFEE00  }
ul.navbarmain { list-style-type: none ; padding-left : 0em }
ul.navbarnested { list-style-type : none ; padding-left : 2em }
.note 
{ 
    border-color : black; 
    border-style : double;
    padding : 0.5em;
    background-color : palegreen;
}
.note h2
{
   background: transparent;
}
ul.my li
{
    padding-bottom: 0.5em;
}
.righty
{
   float: right;
   text-align: center;
   font-size: 80%;
   width: 30%;
}
.webmaster
{
    float : left;
}
